<app-menubar></app-menubar>
<section class="account">
    <div class="account__header">
        <h2 class="account__header-title">Account Instellingen</h2>
        <p class="account__header-breadcrumb">
            <a>Home</a> > 
            <a>Account Instellingen</a>
        </p>
    </div>
    <div class="account__container">
        <div class="account__container-left">
            <ul class="account__container-left__list">
                <li class="account__container-left__list-item account__container-left__list-item--active">
                    <i-feather name="user"></i-feather>
                    <a href="#">General</a>
                </li>
                <li class="account__container-left__list-item">
                    <i-feather name="lock"></i-feather>
                    <a href="#">Change Password</a>
                </li>
                <li class="account__container-left__list-item">
                    <i-feather name="info"></i-feather>
                    <a href="#">Information</a>
                </li>
                <li class="account__container-left__list-item">
                    <i-feather name="bell"></i-feather>
                    <a href="#">Notifications</a>
                </li>
            </ul>
        </div>
        <form class="account__container-right">
            <div class="account__container-right__row">
                <div class="account__container-right__row-left">
                    <label for="username" class="text__label">Gebruikersnaam</label>
                    <input type="text" name="username" tabindex="1" id="username" class="input__default">
                </div>
                <div class="account__container-right__row-right">
                    <label for="name" class="text__label">Naam</label>
                    <input type="text" name="name" tabindex="2" id="name" class="input__default">
                </div>
            </div>
            <div class="account__container-right__row">
                <div class="account__container-right__row-left">
                    <label for="email" class="text__label">E-mail</label>
                    <input type="text" name="email" tabindex="3" id="email" class="input__default">
                </div>
            </div>
            <div class="account__container-right__row">
                <button class="btn__regular">Opslaan</button>
                <button class="btn__regular">Annuleren</button>
            </div>
        </form>
    </div>
</section>