@font-face {
    font-family: "Proxima-Nova-Thin";
    src: url(./proxima_nova_thin.otf);
}

@font-face {
    font-family: "Proxima-Nova-Thin-Italic";
    src: url(./proxima_nova_thin_italic.otf);
}

@font-face {
    font-family: "Proxima-Nova-Light";
    src: url(./proxima_nova_light.otf);
}

@font-face {
    font-family: "Proxima-Nova-Light-Italic";
    src: url(./proxima_nova_light_italic.otf);
}

@font-face {
    font-family: "Proxima-Nova";
    src: url(./proxima_nova_regular.otf);
}

@font-face {
    font-family: "Proxima-Nova-Italic";
    src: url(./proxima_nova_regular_italic.otf);
}

@font-face {
    font-family: "Proxima-Nova-Semibold";
    src: url(./proxima_nova_semibold.otf);
}

@font-face {
    font-family: "Proxima-Nova-Semibold-Italic";
    src: url(./proxima_nova_semibold_italic.otf);
}

@font-face {
    font-family: "Proxima-Nova-Extrabold";
    src: url(./proxima_nova_extrabold.otf);
}

@font-face {
    font-family: "Proxima-Nova-Extrabold-Italic";
    src: url(./proxima_nova_extrabold_italic.otf);
}