<section class="grid">
    <gridster [options]="options">
        <gridster-item [item]="item" *ngFor="let item of dashboard">
          <!-- <div class="button-holder">
            <div class="gridster-item-content" *ngIf="item.hasContent">
              <div class="stuff">
                <span>Some content to select and click without dragging the widget</span>
                <a href="https://www.google.com" target="_blank">Link to Google</a>
              </div>
            </div>
          </div> -->
        </gridster-item>
      </gridster>
</section>