<!-- <section class="quiz">
    <h2 class="quiz-title">Quiz</h2>
    <div class="quiz__choose gridster-item-content">
        <div class="quiz__choose-list" *ngIf="quizes">
            <div class="quiz__choose-list-item" *ngFor="let quiz of quizes; let i = index" id="quizDiv{{i}}"
                (click)="titleChecked = quiz.Title">
                <input type="radio" name="quizChooser" id="quizRadioButton{{quiz.Url}}"
                    class="quiz__choose-list-item-input" [checked]="quiz.status === true">
                <div class=" quiz__choose-list-item-text">
                    <h2 class="quiz__choose-list-item-text-title">{{quiz.Title}}</h2>
                </div>
            </div>
        </div>
        <div class="quiz__choose__button">
            <button class="quiz__choose__button-button" (click)="selectQuiz()">Selecteer</button>
        </div>
    </div>
    <div class="quiz__create gridster-item-content">
        <h2 class="quiz__create-title">Maak een nieuwe Quiz</h2>
        <div class="quiz__create__input">
            <div class="quiz__create__input-title">
                <label class="quiz__create__input-title-text text__label">Titel:</label>
                <br>
                <input type="text" class="quiz__create__input-title-field input__default" id="quizTitleInput" [(ngModel)]="titleValue">
            </div>

            <div class="quiz__create__input-link">
                <label class="quiz__create__input-link-text text__label">Link:</label>
                <br>
                <input type="text" class="quiz__create__input-link-field input__default" id="quizLinkInput" [(ngModel)]="linkValue">
            </div>

            <div class="hoome__other__quiz__create__input-button">
                <button (click)="createNewQuiz()" class="quiz__create__input-button-button">Toevoegen</button>
            </div>
        </div>
    </div>
</section> -->

<section class="quiz">
    <div class="quiz__left">
        <h3 class="quiz__left-title">Quiz</h3>
        <ul class="quiz__left-list">
            <li *ngFor="let item of quizes" class="quiz__left-list__item" (click)="selectQuiz(item)" id="quizItem{{item.Title}}">{{ item.Title }}</li>
        </ul>
    </div>
    <div class="quiz__right">
        <h3 class="quiz__right-title">Quiz Item Title</h3>
        <form class="quiz__right-form">
            <input [(ngModel)]="titleValue" type="text" name="quizTitleInput" id="quizTitleInput" placeholder="Titel:">
            <input [(ngModel)]="linkValue" type="text" name="quizLinkInput" id="quizLinkInput" placeholder="Link:">
            <button [hidden]="hidden" (click)="updateQuiz(false)">Updaten</button>
            <button [hidden]="!hidden" (click)="createNewQuiz()">Toevoegen</button>
            <button [hidden]="hidden" (click)="updateQuiz(true)">Quiz Activeren</button>
        </form>
    </div>
</section>