<section class="quiz">
    <h2 class="quiz-title">Verander quiz</h2>
    <div class="quiz__choose gridster-item-content">
        <h3 class="quiz__choose-title">Bestaande Quizen:</h3>
        <div class="quiz__choose-list">
            <div class="quiz__choose-list-item" *ngFor="let quiz of globals.quiz_list_original" id="quizDiv{{quiz.id}}"
                (click)="titleChecked = quiz.title">
                <input type="radio" name="quizChooser" id="quizRadioButton{{quiz.url}}"
                    class="quiz__choose-list-item-input" [checked]="quiz.status === true">
                <div class=" quiz__choose-list-item-text">
                    <h2 class="quiz__choose-list-item-text-title">{{quiz.title}}</h2>
                    <p class="quiz__choose-list-item-text-link">{{quiz.url}}</p>
                </div>
            </div>
        </div>
        <div class="quiz__choose__button">
            <button class="quiz__choose__button-button" (click)="selectQuiz()">Selecteer</button>
        </div>
    </div>
    <div class="quiz__create gridster-item-content">
        <h2 class="quiz__create-title">Maak een nieuwe Quiz</h2>
        <div class="quiz__create__input">
            <div class="quiz__create__input-title">
                <label class="quiz__create__input-title-text text__label">Titel:</label>
                <br>
                <input type="text" class="quiz__create__input-title-field input__default" id="quizTitleInput">
            </div>

            <div class="quiz__create__input-link">
                <label class="quiz__create__input-link-text text__label">Link:</label>
                <br>
                <input type="text" class="quiz__create__input-link-field input__default" id="quizLinkInput">
            </div>

            <div class="hoome__other__quiz__create__input-button">
                <button (click)="createNewQuiz()" class="quiz__create__input-button-button">Toevoegen</button>
            </div>
        </div>
    </div>
</section>