<section class="forgot-password">
    <div class="forgot-password-form">
        <h4 class="forgot-password-form__title">Wachtwoord vergeten? 🔒</h4>
        <p class="forgot-password-form__desc">Voer je e-mailadres in en we sturen je instructies om je wachtwoord opnieuw in te stellen</p>
        <form class="forgot-password-form__form">
            <div class="forgot-password-form__form-group">
                <label for="forgot-password-email" class="text__label">Email</label>
                <input type="email" name="forgot-password-email" id="forgot-password-email" placeholder="john@example.com" tabindex="1" autofocus class="input__default forgot-password-form__form-control">
            </div>

            <button (click)="forgotPassword()" class="btn__regular forgot-password-form__form-submit">Stuur reset link</button>
            
            <a routerLink="/" class="forgot-password-form__back">< Back to login</a>
        </form>
    </div>
</section>