<section class="login">
  <div class="login-form">
    <h4 class="login-form__title">Welkom bij SkoolAdmin! 👋</h4>
    <p class="login-form__desc">Log in op uw account en start het avontuur</p>

    <form class="login-form__form" method="false">
      <div class="login-form__form-group">
        <label for="login-email" class="text__label">Email</label>
        <input class="input__default login-form__form-control" type="email" name="login-email" id="login-email"
          placeholder="john@example.com" tabindex="1" autofocus [(ngModel)]="email"
          (input)="email !== '' ? enableLoginButton = false : enableLoginButton = true" />
      </div>

      <div class="login-form__form-group">
        <div class="login-form__form-group-box">
          <label for="login-password" class="text__label">Wachtwoord</label>
          <a routerLink="/forgot-password" class="login-form__form-group-box__forgotpassword">Forgot Password?</a>
        </div>
        <input class="input__default login-form__form-control" type="password" name="login-password" id="login-password"
          placeholder="********" tabindex="2" [(ngModel)]="password"
          (input)="password !== '' ? enableLoginButton = false : enableLoginButton = true" />
      </div>

      <div class="login-form__popup" id="loginFailedPopUp" [hidden]="error">
        <h1 id="loginFailedText">Fout email en / of wachtwoord!</h1>
      </div>

      <button (click)="login()" class="btn__regular login-form__form-submit" type="button"
        [disabled]="enableLoginButton">
        Log In
      </button>
    </form>
  </div>

  <div class="login-load" id="loader">
    <div class="login-load__spinner"></div>
  </div>
</section>