<section class="login">
    <div class="login-form">
        <h1 class="login-form__title">Welkom</h1>
        <p class="login-form__desc">Vul uw gegevens in voor toegang tot uw account.</p>
    
        <form class="login-form__form">
            <label for="username" class="text__label">Gebruikersnaam</label>
            <input id="username" type="text" class="input input__regular">

            <label for="password" class="text__label">Wachtwoord</label>
            <input id="password" type="password" class="input input__regular">
        
            <button class="btn btn__regular">Log In</button>
        </form>
    </div>
</section>