@import "../../../styles.scss";
.notifications {
    &__notifications {
        width: 100%;
        background-color: white;

        padding: 2.5rem;
        display: flex;
        flex-wrap: wrap;
    
        &__header {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            height: 4rem;
    
            &-title {
                padding-bottom: 2.5rem;
                font-size: 2.5rem;
                width: 30%;
            }
    
            &-search {
                display: flex;
                flex-wrap: wrap;
                width: 70%;
                margin-left: 2rem;
    
                &-bar{
                    width: 90%;
                    background-color: #EFEFEF;
                    border-radius: 0px 5px 5px 0px;
                    border: none;
                    height: 4rem;
                }
    
                &-icon{
                    width: 10%;
                    height: 4rem;
                    background-color: #EFEFEF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px 0px 0px 5px;
                    &-feather {
                        width: 2rem;
                    }
                }
            }
        }
    
        &__content{
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            justify-content: center;
    
            &__category{
                width: 30%;
                justify-self: flex-start;
                margin-top: 2rem;
    
                &-button{
                    background-color: #EFEFEF;
                    margin-bottom: 1.5rem;
                    border: none;
                    color: black;
                    border-radius: 5px;
                    height: 4rem;
                    width: 75%;
                    font-weight: bold;

                    &-back {
                        display: none;
                        background-color: #EFEFEF;
                        margin-bottom: 1.5rem;
                        border: none;
                        color: black;
                        border-radius: 5px;
                        height: 4rem;
                        width: 75%;
                        font-weight: bold;
                    }
                }

            }
    
            &__notification{
                width: 70%;
                margin-left: 2rem;
                &__chooser{
                    width: 100%;
                    height: 100%;
                    overflow-y: scroll;
                    display: flex;
                    flex-wrap: wrap;
                    &-buttons{
                        width: 50%;
                        &-single{
                            width: 90%;
                            height: 9rem;
                            padding: 1rem;
                            margin-left: 1rem;
                            margin-top: 2rem;
                            background-color: #FFF;
                            color: black;
                            border: 1px #707070 solid;
                            border-radius: 5px;
                        }
                    }
                }
    
                &__form{
                    &-input{
                        display: flex;
                        flex-wrap: wrap;
                        &-title{
                            width: 51%;
                            border: none;
                            border-radius: 5px;
                            color: black;
                            background-color: #EFEFEF;
                        }
                        &-url{
                            width: 51%;
                            border: none;
                            border-radius: 5px;
                            color: black;
                            background-color: #EFEFEF;
                        }
                        &-message{
                            width: 51%;
                            border: none;
                            border-radius: 5px;
                            color: black;
                            background-color: #EFEFEF;
                        }
                        &-send {
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
    }
}
.active{
  background-color: $main-color;
  border: none;
  color: white;
}