.customers {
    margin: 2.5rem;
    margin-top: 9.5rem;
    border: 1px solid #ebe9f1;
    border-radius: .5rem;

    &__table {
        width: 100%;
        border-collapse: collapse;

        &--row {
            &__header {
                height: 4.5rem;
                background-color: #F3F2F7;
            }
        }

        &--header {
            font-size: 1.6rem;
            text-align: left;
        }

        &--entry {
            font-size: 1.4rem;
            padding: 1.5rem 2rem;
        }
    }

    &__footer {
        width: 100%;
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin-right: 1rem;
            font-size: 1.4rem;
        }
    }
}

:host::ng-deep {
    table.dataTable.no-footer {
        border: none;
    }

    .dataTable {
        grid-area: table;
    }

    .dataTables {
        &_wrapper {
            display: grid;
            grid-template-areas: 
                "length search"
                "table table"
                "info paginate"
        }

        &_empty {
            font-size: 1.6rem;
        }

        &_length {
            grid-area: length;
        }

        &_filter {
            grid-area: search;
            justify-content: flex-end;
        }

        &_info {
            grid-area: info;
            padding: 0;
        }

        &_paginate {
            grid-area: paginate;
            justify-content: flex-end;
        }

        &_length,
        &_filter,
        &_info,
        &_paginate {
            font-size: 1.6rem;
            margin: 2rem;
            display: flex;
            align-items: center;

            input {
                height: 3.5rem;
            }
        }
    }

    .odd,
    .even {
        padding: 0 2rem;
        min-height: 7rem;
    }

    .even {
        background-color: #F3F2F7;
    }

    .sorting {
        border: none;
    }
}