<nav class="menubar">
    <h1 class="text__title menubar__title">SkoolWorkshop</h1>
    <ul class="menubar__list">
        <li class="menubar__list-item">
            <a href="#">
                <div class="menubar__list-item--active"></div>
                <img src="../../../assets/icons/bar-chart.svg" alt="Analytics">
                <p class="menubar__list-item__title">Analytics</p>
            </a>
        </li>
        <li class="menubar__list-item">
            <a href="#">
                <div class="menubar__list-item--active"></div>
                <img src="../../../assets/icons/file.svg" alt="Orders">
                <p class="menubar__list-item__title">Orders</p>
            </a>
        </li>
        <li class="menubar__list-item">
            <a href="#">
                <div class="menubar__list-item--active"></div>
                <img src="../../../assets/icons/package.svg" alt="Products">
                <p class="menubar__list-item__title">Products</p>
            </a>
        </li>
        <li class="menubar__list-item">
            <a href="#">
                <div class="menubar__list-item--active"></div>
                <img src="../../../assets/icons/grid.svg" alt="Categories">
                <p class="menubar__list-item__title">Categories</p>
            </a>
        </li>
        <li class="menubar__list-item">
            <a href="#">
                <div class="menubar__list-item--active"></div>
                <img src="../../../assets/icons/percent.svg" alt="Coupons">
                <p class="menubar__list-item__title">Coupons</p>
            </a>
        </li>
        <li class="menubar__list-item active">
            <a href="#">
                <div class="menubar__list-item--active"></div>
                <img src="../../../assets/icons/users.svg" alt="Customers">
                <p class="menubar__list-item__title">Customers</p>
            </a>
        </li>
    </ul>
</nav>