<section class="menubar">
    <nav class="menubar__menu">
        <div class="menubar__menu-left">
            <h3 class="menubar__menu-left__welcome--message">Goedendag,</h3>
            <h3 class="menubar__menu-left__welcome--name" id="menuWelcomeName">John Doe</h3>
        </div>
        <div class="menubar__menu-right">
            <!-- <i-feather name="bell"></i-feather> -->
            <div class="menubar__menu-right__name">
                <h6 class="menubar__menu-right__name--name" id="menuAccountName">John Doe</h6>
                <p class="menubar__menu-right__name--function" id="menuAccountRole">Admin</p>
            </div>
        </div>
    </nav>
</section>