@import url("https://use.typekit.net/yin7cro.css");

// * 01. Global Variables
$main-color:    #F49700;
$dark-grey:     #707070;
$background:    #f8f8f8;


// * 02. Global Reset

* {
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    display: none;
}

// * 03. Text
.text {
    &__title {
        font-weight: 700;
        font-size: 2.4rem;
    }

    &__label {
        font-weight: 700;
        font-size: 1.4rem;
    }
}

// * 04. Input
.input {
    border: none;
    font-size: 1.6rem;

    &__default {
        display: block;
        width: 100%;
        height: 3.5rem;
        border-radius: 1rem;
        border: .1rem solid $dark-grey;
        padding: 0 1rem;
        font-size: 1.4rem;
    }
}

// * 05. Button
.btn {
    border: none;
    cursor: pointer;

    &__regular {
        width: 100%;
        height: 4rem;
        background-color: $main-color;
        border-radius: 1rem;
        color: white;
        font-size: 1.6rem;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }
}